*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Styling our Homepage */
body {
    font-family: Arial, sans-serif;
    background-color: #fdfbf5;
    color: #0C394A;
    max-width: 900px; /* Reduced maximum width */
    margin: 0 auto; /* Center the content */
    padding: 0 20px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    width: 100%;
}


/* Nav Styling */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    white-space: nowrap;
}
nav img {
    width: 150px;
    height: 35px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 350px;
    list-style: none;
    gap: 50px;
}

nav a {
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

/* Sign In Styles*/
.top {
    justify-content: right;
    font-size: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}

.top1 {
    font-size: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #00B4D7;
    color: #fff;
    cursor: pointer;
}


/* Main Content Styles */
main {
    padding: 10px 20px;
    margin-top: 3%;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Sikwens-content {
    display: flex;
    align-items: center;
}

.Sikwens-text {
    margin-top: -2%;
    font-size: 13px;
}

h1 {
    font-size: 35px;
}

.Maths {
    font-weight: 30;
}

.top-image {
    width: 350px;
    height: 260px;
    padding-top: 40px;
    margin-left: 20px;
    margin-top: 150px;
}

.image-container {
    display: block;
    margin-left: -130px;
}

.gallery-image1,
.gallery-image2,
.gallery-image3 {
    padding: 0;
}